<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../css/main.css">
</head>

<body>
    <text id="AeroFrcLabel">AERO FRC SCOUTING</text>
    <img id="aeroLogo" src="../img/Aeroİcon.png" />
    <img id="githubLogo" src="../img/Githubİcon.png" />
    <text id="FrcSeasionLabel">2022 2023 SEASION</text>
    <form>
        <div class="form-group">
            <input type="email" tabindex="1" id="emailText" placeholder="E-mail" required>
        </div>
        <div class="form-group">
            <input type="password" tabindex="2" id="passwordText" placeholder="Your password" required>
        </div>
    </form>
    <text id="lblForgetPassword" tabindex="4">Forget Password?</text>
    <text id="lblSignUp" tabindex="5">Sign Up</text>
    <button id="loginButton" tabindex="3">LOGIN</button>
    <text id="seasionNameLabel1">CHARGED UP</text>
    <text id="seasionNameLabel2">FIRST® Robotics Competition</text>
    <script src="../js/Login.js"></script>,
</body>

</html>