<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
    <text id="AeroFrcLabel">AERO FRC SCOUTING</text>
    <img id="LogoutButton" src="../img/Logout.png" />
    <img id="AccountButton" src="../img/account.png" />
    <img id="AddButton" src="../img/add.png" />
    <text id="FrcSeasionLabel">2022 2023 SEASION</text>
    <text id="seasionNameLabel1">CHARGED UP</text>
    <text id="seasionNameLabel2">FIRST® Robotics Competition</text>
    <script src="../js/MainPage.js"></script>
</body>
</html>