<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/main.css">
</head>

<body>
    <text id="AeroFrcLabel">AERO FRC SCOUTING</text>
    <img id="aeroLogo" src="../img/Aeroİcon.png" />
    <img id="githubLogo" src="../img/Githubİcon.png" />
    <text id="FrcSeasionLabel">2022 2023 SEASION</text>
    <form>
        <div class="form-group">
            <input type="email" id="emailTextsgn" tabindex="1" placeholder="Your Email" required>
        </div>
        <div class="form-group">
            <input type="password" tabindex="2" id="passwordTextsgn" placeholder="Create Password" required>
            <input type="password" id="ComfirmPasssgn" tabindex="3" placeholder="Comfirm Password" required>
        </div>
    </form>
    <button id="SignUpButtonsgn" tabindex="4">SIGN UP</button>
    <button id="back" tabindex="5">Go back</button>
    <text id="seasionNameLabel1">CHARGED UP</text>
    <text id="seasionNameLabel2">FIRST® Robotics Competition</text>
    <script src="../js/signup.js"></script>,
</body>

</html>