@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

* {
  font-family: "Inter", "sans-serif";
}

*{
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#AeroFrcLabel {
  /* AERO FRC SCOUTİNG */
  position: absolute;
  width: 181px;
  height: 32px;
  left: 27px;
  top: 31px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  margin-left: 27;

  color: #FFFFFF;
}

#ForgetPasswordInfo {
  position: absolute;
  width: 250px;
  height: 32px;
  left: 27px;
  top: 31px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  margin-top: 250px;
  left: 50%;
  text-align: center;
  transform: translateX(-50%);
  position: absolute;
  color: #FFFFFF;
}

#back{
  left: 50%;
  transform: translateX(-50%);
  width: 240px;
  height: 45px;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  position: absolute;

  margin-top: 560px;
}
#back.wrap{
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  position: absolute;
  align-items: center;
}
#back:hover {
  background-color: #8257E5;
  box-shadow: 0px 15px 20px rgba(130, 87, 229, 1);
  color: #fff;
  transform: translate(-50%, -7px);
}

#aeroLogo {
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  width: 318px;
  height: 178px;
  top: 75px;
}

body {
  border-radius: 50px;
}

::-webkit-scrollbar {
  display: none;
}


#githubLogo {
  /* Githubİcon */
  position: absolute;
  left: 35px;
  top: 550px;
  height: 100px;
  width: 100px;
  cursor: pointer;
}

#LogoutButton{
  position: absolute;
  left: 25px;
  top: 620px;
  height:50px;
  width: 50px;
  cursor: pointer;
}

#AccountButton{
  position: absolute;
  left: 100px;
  top: 620px;
  height:50px;
  width: 50px;
  cursor: pointer;
}


#AddButton{
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  top: 620px;
  height:50px;
  width: 50px;
  cursor: pointer;
}

#accountManage{
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
    width: 175px;
    height: 32px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 39px;
    text-align: center;
    margin-top: 130px;
    color: #FFFFFF;
}

#FrcSeasionLabel {
  /* 2022 2023 SEASON */

  position: absolute;
  width: 342px;
  height: 75px;
  left: 700px;
  top: 55px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;

  color: #FFFFFF;
}

#UpdateButton{
  left: 50%;
  transform: translateX(-50%);
  width: 240px;
  height: 45px;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  position: absolute;

  margin-top: 410px;
}

#UpdateButton.wrap{
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  position: absolute;
  align-items: center;
}
#UpdateButton:hover {
  background-color: #009000;
  box-shadow: 0px 15px 20px #009000;
  color: #fff;
  transform: translate(-50%, -7px);
}

#DeleteButton{
  left: 50%;
  transform: translateX(-50%);
  width: 240px;
  height: 45px;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  position: absolute;

  margin-top: 470px;
}

#DeleteButton.wrap{
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  position: absolute;
  align-items: center;
}
#DeleteButton:hover {
  background-color: #cc0000;
  box-shadow: 0px 15px 20px #cc0000;
  color: #fff;
  transform: translate(-50%, -7px);
}

#seasionNameLabel1 {
  /* CHARGED UP */
  position: absolute;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #FFFFFF;
  left: 915px;
  top: 640px;
}

#seasionNameLabel2 {
  /* CHARGED UP */
  position: absolute;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #FFFFFF;
  left: 870px;
  top: 655px;
}

html,
body {
  height: 100%;
}

#loginButton.wrap {
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  position: absolute;
  align-items: center;
}

#loginButton {
  left: 50%;
  transform: translateX(-50%);
  width: 240px;
  height: 45px;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  position: absolute;
  margin-top: 400px;
}

#SignUpButtonsgn.wrap {
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  position: absolute;
  align-items: center;
}

#SignUpButtonsgn {
  left: 50%;
  transform: translateX(-50%);
  width: 240px;
  height: 45px;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  position: absolute;
  margin-top: 425px;
}

#SignUpButtonsgn:hover {
  background-color: #8257E5;
  box-shadow: 0px 15px 20px rgba(130, 87, 229, 1);
  color: #fff;
  transform: translate(-50%, -7px);
}


#lblForgetPassword {
  left: 50%;
  margin-top: 410px;
  color: #fff;
  font-size: 14px;
  font-family: 'Inter', sans-serif;
  position: absolute;
  cursor: pointer;
  transform: translateX(-50%);
  margin-top: 350px;
}



#lblSignUp {
  left: 50%;
  margin-top: 410px;
  color: #fff;
  font-size: 14px;
  font-family: 'Inter', sans-serif;
  position: absolute;
  cursor: pointer;
  transform: translateX(-50%);
  margin-top: 460px;
}

#loginButton:hover {
  background-color: #8257E5;
  box-shadow: 0px 15px 20px rgba(130, 87, 229, 1);
  color: #fff;
  transform: translate(-50%, -7px);
}


@keyframes move {
  50% {
    background-position: 50%;
  }
}

#emailText {
  color: #0b0911;
  margin-top: 250px;
  left: 50%;
  text-align: center;
  
}

#emailTextsgn {
  color: #0b0911;
  margin-top: 250px;
  left: 50%;
  text-align: center;
  
}

#passwordText {
  color: #0b0911;
  margin-top: 300px;
  left: 50%;
  text-align: center;
}

#emailTextfrg{
  color: #0b0911;
  margin-top: 350px;
  left: 50%;
  text-align: center;
}

#passwordTextsgn {
  color: #0b0911;
  margin-top: 300px;
  left: 50%;
  text-align: center;
}

#ComfirmPasssgn {

  color: #0b0911;
  margin-top: 350px;
  left: 50%;
  text-align: center;
}

#emailTextMgn {
  color: #0b0911;
  margin-top: 220px;
  left: 50%;
  text-align: center;
}

#passwordTextMgn {
  color: #0b0911;

  margin-top: 270px;
  left: 50%;
  text-align: center;
}

#ComfirmPassMgn {

  color: #0b0911;
  margin-top: 320px;
  left: 50%;
  text-align: center;
}

form .form-group input {
  width: 250px;
  height: 40px;
  margin-top: 6px;
  padding: 0 12px 0 12px;
  border: 2px solid #8257E5;
  border-radius: 20px;
  font-size: 18px;
  color: #0b0911;
  transition: 1ms;
  transform: translateX(-50%);
  position: absolute;
}


form .form-group input:focus {
  border-color: #8257E5;
  box-shadow: 0 0 12px #8257E5;
  outline: none;

}


form .form-group input:valid {
  border-color: #8257E5;
  background: #e4edff;
}