@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

* {
  font-family: "Inter", "sans-serif";
}

#AeroFrcLabel {
  /* AERO FRC SCOUTİNG */
  position: absolute;
  width: 181px;
  height: 32px;
  left: 27px;
  top: 31px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  margin-top: 31;
  margin-left: 27;

  color: #FFFFFF;
}


#aeroLogo {
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  width: 318px;
  height: 178px;
  top: 93px;
}

body {
  border-radius: 50px;
}

::-webkit-scrollbar {
  display: none;
}


#githubLogo {
  /* Githubİcon */
  position: absolute;
  left: 35px;
  top: 550px;
  height: 100px;
  width: 100px;
  cursor: pointer;
}

#FrcSeasionLabel {
  /* 2022 2023 SEASON */

  position: absolute;
  width: 342px;
  height: 75px;
  left: 700px;
  top: 55px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;

  color: #FFFFFF;
}

#seasionNameLabel1 {
  /* CHARGED UP */
  position: absolute;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #FFFFFF;
  left: 915px;
  top: 640px;
}

#seasionNameLabel2 {
  /* CHARGED UP */
  position: absolute;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #FFFFFF;
  left: 870px;
  top: 655px;
}

html,
body {
  height: 100%;
}

#loginButton.wrap {
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  position: absolute;
  align-items: center;
}

#loginButton {
  left: 50%;
  transform: translateX(-50%);
  width: 240px;
  height: 45px;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  position: absolute;
  margin-top: 400px;
}

#lblForgetPassword{
  left: 50%;
  margin-top: 410px;
 color: #fff;
  font-size: 14px;
  font-family: 'Inter', sans-serif;
  position: absolute;
  cursor: pointer;
  transform: translateX(-50%);
  margin-top: 350px;
}

#lblSignUp{
  left: 50%;
  margin-top: 410px;
 color: #fff;
  font-size: 14px;
  font-family: 'Inter', sans-serif;
  position: absolute;
  cursor: pointer;
  transform: translateX(-50%);
  margin-top: 460px;
}

#loginButton:hover {
  background-color: #8257E5;
  box-shadow: 0px 15px 20px rgba(130, 87, 229, 1);
  color: #fff;
  transform: translate(-50%, -7px);
}


@keyframes move{
  50%{
      background-position: 50%;
  }
}

#emailText{
  margin-top: 250px;
  left: 50%;
  text-align: center;
}

#passwordText
{
  margin-top: 300px;
  left: 50%;
  text-align: center;
}


form .form-group input {
  width: 250px;
  height: 40px;
  margin-top: 6px;
  padding: 0 12px 0 34px;
  border: 2px solid #8257E5;
  border-radius: 20px;
  font-size: 18px;
  color: #0b0911;
  transition: 1ms;
  transform: translateX(-50%);
  position: absolute;
}


form .form-group input:focus{
  border-color: #8257E5;
  box-shadow: 0 0 12px #8257E5;
}


form .form-group input:valid{
  border-color: #8257E5;
  background: #e4edff;
}